name: docker-prune

on:
  workflow_call:
    inputs:
      names:
        description: Comma-separated list of images that should be pruned.
        required: false
        type: string
      remove-after:
        description: Date after which images should be removed.
        required: false
        type: string
    secrets:
      token:
        description: >
          A Github Personal Access Token. Must be one generated outside of
          Actions, as current Actions PAT's don't allow deleting packages.
        required: false

jobs:
  docker-prune-untagged:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    continue-on-error: true
    permissions:
      packages: write
    steps:
      - uses: snok/container-retention-policy@v3.0.1
        with:
          account-type: personal
          token: ${{ secrets.token || secrets.USER_PAT }}
          image-names: ${{ inputs.names || github.event.repository.name }}
          cut-off: ${{ inputs.remove-after || '1 week ago UTC' }}
          timestamp-to-use: updated_at
          untagged-only: true
  docker-prune-prs:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 5
    permissions:
      packages: write
    steps:
      - uses: snok/container-retention-policy@v3.0.1
        with:
          account-type: personal
          token: ${{ secrets.token || secrets.USER_PAT }}
          image-names: ${{ inputs.names || github.event.repository.name }}
          cut-off: ${{ inputs.remove-after || '1 month ago UTC' }}
          timestamp-to-use: updated_at
          filter-include-untagged: false
          filter-tags: "pr-*"
  docker-prune-alpha:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 5
    permissions:
      packages: write
    steps:
      - uses: snok/container-retention-policy@v3.0.1
        with:
          account-type: personal
          token: ${{ secrets.token || secrets.USER_PAT }}
          image-names: ${{ inputs.names || github.event.repository.name }}
          cut-off: ${{ inputs.remove-after || '1 month ago UTC' }}
          timestamp-to-use: updated_at
          filter-include-untagged: false
          filter-tags: "*-alpha.*,*-rc.*"
