name: generate-readme

on:
  workflow_call:
    inputs:
      path:
        description: "The path to the README.md file."
        required: false
        default: "README.md"
        type: string
    secrets:
      token:
        description: "User-based personal access token."
        required: false

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: lrstanley/.github/composite/generate-readme@master
        with:
          token: ${{ secrets.token || secrets.USER_PAT }}
