name: sh-lint

on:
  workflow_call:
    inputs:
      working-directory:
        description: >
          Working directory to run the test in.
        required: False
        type: string
        default: .

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        env:
          SHELLCHECK_OPTS: >-
            -e SC1090
            -e SC1091
        with:
          scan-dir: ${{ inputs.working-directory }}
