name: meta-terraform-files

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

permissions: {}

jobs:
  trigger-run:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: git-clone-tools-repo
        uses: actions/checkout@v6
        with:
          repository: lrstanley/.github
      - run: ./scripts/terraform-run.sh
        env:
          TF_ORG: lrstanley
          TF_WORKSPACE: github-common-files
          TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
